
<div class="container">
  <div class="row">
    <div class="col-md-3 s12">
      <label>Choose Here</label>
      <select class="custom-select" (change)="filter($event.target.value)">
        <option  disabled selected>Choose Category</option>
        <option>Title</option>
        <option>Genre</option>
        <option>Actor</option>
        <option>All Movies</option>
      </select>
    </div>

    <div class="col-md-5 s12">
      <label>Choose Here</label>
      <select class="custom-select" (change)="onSelect($event.target.value)">
        <option *ngFor="let selector of selectors">{{selector}}</option>
      </select>
    </div>
  </div>
<br> <br> <br>
  <div class="row">
    <div class="col col-md-4 s12 m7" *ngFor="let movie of movies">
      <div class="card">
        <img *ngIf="movie.poster; else no_poster" class="img-fluid" src="{{movie.poster}}">

        <ng-template #no_poster> <img *ngIf="!movie.poster" class="img-fluid" src="http://makeupstudio.lu/html/images/poster/no_poster_available.jpg">
        </ng-template>
        <div class="card-body">
          <h4 class="card-title">{{movie.title}}</h4>
          <h6 class="card-title">{{movie.genre}}</h6>
          <p class="card-text">Cast: {{movie.actor}}</p>
          <a href="#" class="btn btn-primary">Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>
