<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
        <ngx-flash-messages></ngx-flash-messages>
      <h3 class="text-center">Account Register</h3>
      <form #f="ngForm" (ngSubmit)="onRegister(f)" ngNativeValidate>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" ngModel #name="ngModel" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" ngModel #email="ngModel" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" ngModel #password="ngModel" required minlength="4">
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" name="repassword" class="form-control" ngModel #repassword="ngModel" required (input)="onMatch(f)">
          <small [hidden]="isMatch" class="text-danger">
              كلمة السر غير متطابقة
          </small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
