<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
  <div class="container">
    <a class="navbar-brand" href="/">moviecatalogue</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ml-auto">
        <li *ngIf="logedIn">
          <a href="/mymovies" class="nav-link">My Movie</a>
        </li>
        <li *ngIf="logedIn">
          <a href="/movies/add" class="nav-link">Add </a>
        </li>

        <li *ngIf="logedIn" class="nav-item">
          <a href="/login" class="nav-link" (click)="onLogout()">Logout</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="/register" class="nav-link">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
